body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #333333;
    color: #00ffff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#hero, #search-bar, #listings {
    text-align: center;
    padding: 50px 20px;
    margin: 20px;
}

#hero h2, #search-bar h2, #listings h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Style for the search bar */
#search-bar input[type=text] {
    width: 60%;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#search-bar input[type=submit] {
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

@media only screen and (max-width: 600px) {
    #hero h2, #register h2, #listings h2 {
        font-size: 1.5em;
    }
    
    #search-bar input[type=text] {
        width: 80%;
    }
}
