<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home Share - Unite in Crisis</title>
</head>

<body>
    <header>
        <h1>Home Share</h1>
        <nav>
            <ul>
                <li><a href="#register">Host Registration</a></li>
                <li><a href="#listings">View Listings</a></li>
            </ul>
        </nav>
        <div class="slogan">Come Together ✊</div>
        <div class="slogan">Move Forward 🚀</div>
        <div class="slogan">Protect Yourself 🛡️</div>
    </header>

    <section id="hero">
        <h2>HomeShare: Offering a safe haven to those in need</h2>
        <p>HomeShare is an internet-based application designed to provide support to those who have been displaced from their homes in times of crisis by connecting them with the people in their community who want to help.</p>
        <p>HomeShare is built, operated, and maintained by a decentralized group of hackers, builders, and activists. We are entirely open-source, and encourage others to create alternative versions, provide translations, and propose/add features.</p>
        <p> Contact us <a href = https://discord.gg/Hz8kyBF4f5>here</a></p>
    </section>

    <section id="register">
        <h2>Offer Your Home</h2>
        <p>Provide your home for shelter and become a beacon of hope for your fellow man.</p>
        <p>To sign up as a host, all you need to do is fill out the registration form linked below and wait 3-4 days for verification.</p>
        <!-- Registration link or form -->
    </section>

    <section id="listings">
        <h2>Find a Home</h2>
        <p>Search for a secure place in times of adversity. Simply enter in your location into the search bar below, and you will be redirected to a listings page showcasing all available listings in your area.</p>
        <!-- Search bar or link to listings -->
    </section>

    <section id="hero">
        <h2>Where are we currently focused on?</h2>
        <p>HomeShare is open to anyone who may be living in an area afflicted by natural or man-made crises. This is included, but not limited to: areas undergoing natural disasters such as earthquakes or tsunamis, cities suffering from attacks by millitant groups, or smaller villages afflicted by sickness or disease.</p>
        <p> We are currently priortizing requests from in and around Israel, Palestine, and the Gaza Strip due to the ongoing conflict between the Hamas Millatant group and the Israeli government. We encourage contributors who host forks and mirrors of this platform to priortize other parts of the world. </p>
    </section>

    <footer>
        <p>&copy; 2023 Home Share | Together, We Build Tomorrow</p>
    </footer>
</body>

</html>

