<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Search - Home Share</title>
</head>
<body>
    <header>
        <h1>Home Share 🏠</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('listings') }}">Listings</a></li>
            </ul>
        </nav>
    </header>

    
    <section id="hero">
    <h2>Search for a temporary home</h2>
    <p>Enter in your location below and find places near you!</p>
    </section>

    <section id="search-bar">
        <h2>Find a Home</h2>
        <form action="/listings" method="GET">
            <input type="text" name="location" placeholder="Enter location...">
            <input type="submit" value="Search">
        </form>
    </section>

    <footer>
        <p>&copy; 2023 Home Share | Together, We Build Tomorrow</p>
    </footer>
</body>
</html>
